.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	scroll-behavior: smooth;
}

.bold {
	font-weight: bold;
}

#toolbar {
	display: flex;
	position: fixed;
	top: 0px;
	align-items: center;
	justify-content: flex-end;
	padding: 10px 10px 0px 10px;
	width: 100%;
	color: #f3f3f3;
	background-color: #39b96e;
	z-index: 1;
}

.section-title {
	margin-top: 2rem;
}

section {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

body {
	font-family: "Verdana";
	margin: 0;
}

#landingText {
	text-align: center;
	font-size: 1.5rem;
}

#navbar {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 0 1rem 1rem 1rem;
	line-height: 16px;
}

#landing-section {
	min-height: 100vh;
	background-color: #39b96e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #f3f3f3;
}

#about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projects {
	background-color: #c0f0c2;
	color: #333;
}

.section {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

span {
	max-width: 700px;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 1rem;
	line-height: 1.6;
}

nav a {
	margin: 0 1rem;
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	text-decoration: underline;
}

#contact a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2.8rem;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

#tiles {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.project-tile {
	width: 300px;
	height: 150px;
	position: relative;
	margin: 1rem;
	transition: all 0.5s ease;
}

.project-tile:hover {
	transform: scale(1.2);
}

.project-tile img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	border-radius: 0.7rem;
}

.project-tile::before,
.project-tile::after {
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
}

.project-tile::before {
	content: attr(data-content);
	padding: 0.25rem;
	color: #f3f3f3;
	opacity: 0;
	border-radius: 0.7rem 0.7rem 0 0;
	z-index: 1;
}

.project-tile::after {
	content: "";
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	color: #f3f3f3;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	border-radius: 0.7rem 0.7rem 0 0;
}

.project-tile:hover::before,
.project-tile:hover::after {
	opacity: 1;
}

#logo-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 1.5rem;
	font-size: 2rem;
}

i {
	padding: 1rem;
	transition: color 0.5s ease;
}

i:hover {
	color: #39b96e;
}

#contact {
	background-color: #333;
	color: #f3f3f3;
	padding-bottom: 200px;
	align-items: center;
}

.contact-form {
	align-items: center;
}

.contact-field {
	min-width: 350px;
}

.form-group {
	justify-content: center;
}

.contact-message {
	resize: none;
}
